begin
  button = KEY_MUTE
  prog = myamp
  config = mute
end

begin
  button = KEY_VOLUMEUP
  prog = myamp
  config = up
  repeat = 1
end

begin
  button = KEY_VOLUMEDOWN
  prog = myamp
  config = down
  repeat = 1
end

begin
  button = KEY_STOP
  prog = myamp
  config = stop
end

begin
  button = KEY_PAUSE
  prog = myamp
  config = pause
end

begin
  button = KEY_PLAY
  prog = myamp
  config = play
end

begin
  button = KEY_BACK
  prog = myamp
  config = back
end

begin
  button = KEY_FORWARD
  prog = myamp
  config = forward
end

begin
  button = KEY_0
  prog = myamp
  config = seekBackward
  repeat = 1
end

begin
  button = KEY_1
  prog = myamp
  config = seekForward
  repeat = 1
end

begin
  button = KEY_2
  prog = myamp
  config = bassDown
  repeat = 1
end

begin
  button = KEY_3
  prog = myamp
  config = bassUp
  repeat = 1
end

begin
  button = KEY_4
  prog = myamp
  config = trebleDown
  repeat = 1
end

begin
  button = KEY_5
  prog = myamp
  config = trebleUp
  repeat = 1
end

begin
  button = KEY_POWER
  prog = myamp
  config = power
end

begin
  button = KEY_RECORD
  prog = myamp
  config = record
end

begin
  button = KEY_RED
  prog = myamp
  config = red
end

begin
  button = KEY_GREEN
  prog = myamp
  config = green
end

begin
  button = KEY_YELLOW
  prog = myamp
  config = yellow
end

begin
  button = KEY_BLUE
  prog = myamp
  config = blue
end
